<p>main-why-me works!</p>
<h3>{{'main-why-me.Why me' | translate }}</h3>
<div class="mee"></div>
<div class="whyMe">
  <div class="local">

    <div class="dialog">
      <img src="../../.../../../assets/img/located.png" alt="">
      <div class="textLocated">
        <p class="blue">{{'main-why-me.I am' | translate }}</p>
        <p class="locatedCity">{{'main-why-me.located in City' | translate }}</p>
        <p class="blue">{{'main-why-me.Dinkelsbühl' | translate }}</p>
      </div>
    </div>
    <div class="dialog">
      <img src="../../.../../../assets/img/remoute.png" alt="">
      <div class="textLocated">
        <p class="blue">{{'main-why-me.I am' | translate }}</p>
        <p>{{'main-why-me.open to work remote' | translate }}</p>

      </div>
    </div>
  </div>

  <div class="text">
    <p>{{'main-why-me.I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member for your team.' | translate }}</p>
    <br>

    <div class="talk">
      <button class="contact" (click)="scrolltoBottom()">{{'main-why-me.Let´s talk' | translate }}</button>
    </div>
  </div>
</div>