<p>main-why-me works!</p>
<h3>Thy me</h3>
<div class="whyMe">
 <div class="local">
    <img src="../../.../../../assets/img/contact/Ellipse 20.png" alt="">
    <img src="../../.../../../assets/img/contact/icon.png" alt="">
    I am located in Aalen..|
 </div>
 <div class="text">
    <p>I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member for your team.
Let’s talk,</p>
<br>
<Button class="contact">Let`s talk</Button>
 </div>

</div>