.whyMe {
    display: flex;
    justify-content: center;
gap: 52px;
}

.local{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.text {
    width: 400px;
    height: 176px;
    display: flex;
    flex-direction: column;
}

button {
    width: 134px;
    height: 48px;
    border-radius: 30px;
    border-color: #89BCD9;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 30px;
    border: 1px solid #89BCD9;
    color: #89BCD9;
 background-color: transparent;
    &:hover{
        background-color:#f7efe634;
        border-radius: 30px;
    }

}

.talk{
    display: flex;
    justify-content: flex-end;

}