<p>main-why-me works!</p>
<h3>Why me</h3>
<div class="mee"></div>
<div class="whyMe">
 <div class="local">
<!--   
    <img src="../../.../../../assets/img/local.png" alt=""> -->
    <img src="../../.../../../assets/img/remoute.png" alt="">
   </div>
 <div class="text">
    <p>I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member for your team.
</p>
<br>

<div class="talk">
<button class="contact" (click)="scrolltoBottom()"  >Let`s talk</button></div>
</div>
</div>