@use "../../styles.scss" as *;

.heroSection {
  width: 100%;
  height: 685px;
  display: flex;
  justify-content: center;
}
.subject {
  width: 588px;
  height: 624px;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-image: url("../../../../Portfolio/src/assets/img/Property1Default.png");
  transition: background-image 0.7s ease;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../../../../Portfolio/src/assets/img/hoverHead.png");
  }
}
.shape {
  width: 600px;
  height: 619px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.subtract {
  width: 447px;
  height: 688px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}
.start {
  width: 598px;
  height: 688px;
}

.subject1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.socialIcon {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  p {
    height: 25px;
  }
  a {
    &:hover {
      border-radius: 20px;
      height: 30px;
    }
  }
}

.email {
  width: 30px;
  height: 30px;
  &:hover {
    background-image: url(../../../src/assets/img/Propertyhoverblue.png);
  }
}

.discord {
  width: 30px;
  height: 30px;
  &:hover {
    background-image: url(../../../src/assets/img/PropertyGitHub.png);
  }
}
.LinkedIn {
  width: 30px;
  height: 30px;
  &:hover {
    background-image: url(../../../src/assets/img/PropertyLinkedIN.png);
  }
}

.main {
  width: 610px;
  height: 380px;
  @include layoutStyling(flex-start);
  flex-direction: column;
}

.Logo {
  width: 52px;
  height: 58px;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/img/LOGO2.png);
  background-size: cover;
  transition: background-image 0.7s ease;

  &:hover {
    background-image: url(../../assets/img/PropertyHover2.png);
  }
}

h1 {
  color: white;
}
h2 {
  color: white;
}

button {
  border-radius: 30px;
  border-color: #89bcd9;
  border: 1px solid #89bcd9;
  background-image: url("../../assets/img/Arrowdown.png");
  background-color: transparent;
  &:hover {
    background-color: #262e34;
    border-radius: 30px;
  }
}

.arrowDown {
  width: 38px;
  height: 89px;
  &:hover {
    background-color: #f7efe634;
    border-radius: 25px;
  }
}

.menuBar {
  gap: 196px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 104px;
  background-color: #89bcd9;
  position: sticky;
  top: 0;
  font-size: 26px;
}

.logoLine {
  width: 58px;
  height: 72px;
}

.menuSystem {
  width: 677px;
  height: 26px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  p {
    width: 100px;
    &:focus {
      height: 35px;
      background-image: url(../../assets/img/BlackLogo.png);
    }
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: white;
        background-image: url(../../assets/img/Ellipse24.png);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83px;
        height: 56px;
        // z-index: 10;
      }
    }
  }
}
.a {
  text-decoration: none;
  color: black;
}

.changeLangugageWeb {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 160px;
  height: 100%;
  > div {
    p {
      margin: 0;
    }
    height: 37px;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-image: url(../../../../Portfolio/src/assets/img/EllipseForTranslate.png);
      background-size: 100% 100%;
    }
  }
}

.buttonForTranslateDE {
  color: #262e34;
}

.buttonForTranslateEN {
  color: white;
}
