<p>header works!</p>
<div class="heroSection">
    <div class="subject">
        <!-- <img class="subtract" src="./assets/img/I.png" alt=""> -->

    </div>

    <div class="start">

    <div class="subject1">

        <div class="socialIcon">
            <p><a href=Mail><img class="email" src="./assets/img/Emailbutton.png" alt=""> </a></p>
            <p><a href=Discord><img class="discord" src="./assets/img/Githubbutton.png" alt=""></a></p>
            <p><a href="http://www.linkedin.com/in/andreaswelker"> <img class="LinkedIn" src="./assets/img/Linkedinbutton.png" alt=""></a></p>
        </div>
    </div>    

        <div class="main">
            <img class="LOGO" src="./assets/img/LOGO.png" alt="">
    
            <h1>Andreas Welker</h1>
            <h2>FRONTEND DEVEOLPER</h2>
            <button class="arrowDown" ></button>
           <img src="../../../../Portfolio/src/assets/img/Vector.png" alt="">

        </div>

    </div>

</div>

<div class="menuBar">
    <div class="logoDarkMode">
        <img class="logoLine" src="./assets/img/Logodarkmob.png" alt="">
    </div>
    <div class="menuSystem">
       <p><a>Why me</a></p>
       <p><a>Skills</a></p>
       <p><a> Pojects</a></p>
       <p><a> ontact</a></p>
    </div>

    <div class="changeLangugageWeb">
        <Button>DE</Button>
        <Button>EN</Button>
    </div>

</div>