// @import'../../styles.scss';
@use'../../styles.scss' as *;




.footer {
  width: 100%;
  height: 200px;
  background-color: #89bcd9;
  @include layoutStyling() ;
  
  gap: 414px;
}


.socialIconFooter {
  display: flex;
    justify-content: center;
    align-items: center;
  color: black;
  gap: 16px;
  a {
    height: 35px;
    &:hover {
      border-radius: 20px;
      height: 30px;
      background-color: white;
    }
  }
}

.email {
  @include layoutForIcon();
  
  &:hover {
    background-image: url(../../../src/assets/img/Propertyhoverblue.png);
  }
}

.discord {
  @include layoutForIcon();
  &:hover {
    background-image: url(../../../src/assets/img/PropertyGitHub.png);
  }
}

.LinkedIn {
  @include layoutForIcon();
  &:hover {
    background-image: url(../../../src/assets/img/PropertyLinkedIN.png);
  }
}

p {
  height: 35px;
  color: black;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration:underline;
  }
  color: black;
}
