<p>footer works!</p>
<div class="footer">
    <div class="legalNotice">
        <br>
        <p><a routerLink="imprint"> {{'footer.imprint' | translate}}</a></p>
        <p><a routerLink="data-protection" (click)="scrolltotop()"> {{'footer.Data protection' | translate}} </a></p>

        <p>&#169; Andreas Welker 2025</p>

    </div>
    <div class="logoDarkMode">
        <img class="logoLine" (click)="scrolltotop()" src="./assets/img/Logodarkmob.png" alt="">
    </div>
    <div>
        <div class="socialIconFooter">
            <p><a href="https://github.com/AndreasRestart"><img class="discord" src="./assets/img/GithubFooter.png"
                        alt=""></a></p>
            <p><a href=""><img class="email" src="./assets/img/EmailbuttonFooter.png" alt=""> </a></p>
            <p><a href="http://www.linkedin.com/in/andreaswelker"><img class="LinkedIn"
                        src="./assets/img/LinkedinbuttonFooter.png" alt=""></a></p>
        </div>
    </div>
</div>