<p>footer works!</p>
<div class="footer">
    <div>
    <p><a href="">Legal notice</a></p>
    
    <p>Andreas Welkerp</p>

    </div>
    <div class="logoDarkMode">
        <img class="logoLine" (click)="scrolltotop()"  src="./assets/img/Logodarkmob.png" alt="">
    </div>
    <div>
        <div class="socialIconFooter">
            <a href="https://www.aol.de"><img class="email" src="./assets/img/EmailbuttonFooter.png" alt=""> </a>
            <p><a href=><img class="discord" src="./assets/img/GithubFooter.png" alt=""></a></p>
            <p><a href="http://www.linkedin.com/in/andreaswelker"><img class="Linked" src="./assets/img/LinkedinbuttonFooter.png" alt=""></a></p>
        </div>
    </div>
</div>
