
<div class="references">
    <div class="description">
    <p><img src="../../../assets/img/Ellipse8forDescription.png" alt=""> About the project Duration: {{singelProjects.duration}} <br> <br> {{singelProjects.description}}</p>
    <p><img src="../../../assets/img/Ellipse8forDescription.png" alt="">Implementation Details <br> <br>{{singelProjects.implementationDetails}}</p>
    </div>
    <div class="technologies">
       <p>Technologies</p>
    <div class="technologiesImage">
    <a><img src="{{ singelProjects.technologiesBasic }}" alt=""> </a>
    <a><img src="{{ singelProjects.technologiesA }}" alt=""></a>
    <a><img src="{{ singelProjects.technologiesB }}" alt=""></a>
    <a><img src="{{ singelProjects.technologiesC }}" alt=""></a>
    </div>
    
    <img class="screenshot"  src="{{ singelProjects.image  }}" alt="Image of {{singelProjects.name}}"> 
    
<div>
<button class="goo"> "{{ singelProjects.URL }}"</button>
</div>    
</div>
</div>
