<p>main-contact works!</p>
<div class="con"></div>
<div class="c">

<div class="contactMe">
    <h3>Contact me</h3> 
<div class="Contact">
<div class="text">
    <p>Still not sure if I am the right person for your project? Lorem ipsum dolor sit amet consectetur. Nat oqueg diam  prjfgh etium arcu sed senectus felis acm uris. Dui eget dict um.osuere pretium arcu sed senec tusfelis ac.
</p>
</div>
<div class="mailTel">

   <!-- <p class="Mail">E-mail: andreaswelker&#64;aol.com</p> -->
</div>
</div>

<div  class="input">
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contactForm">
<div class="nameMail">
    <div>
<label for="name" class="contactName"><h4>Your name</h4></label>
<input [(ngModel)]="contactDate.name" class="name" type="text" required>
    </div>

<div>
<label for="mail" class="contactEmail"><h4>Your Email</h4></label>
<input [(ngModel)]="contactDate.mail" class="mail" type="text" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
</div>

</div>
<div class="messageInput"></div>
<label for="message" class="contactmassage"><h4>Your Message</h4></label>
<input #message="ngModel" minlength="4" [(ngModel)]="contactDate.massage" class="massage" type="text" required>

@if (!message.valid && message.touched && !message.disabled) {
    <span>Please enter a message</span>
}

<div class="privcePolicy"></div>
I've read the privacy policy and agree to the processing of my as otulined.
</form>
<button class="send">Send</button>

</div>


</div>

<div class="arrow">
    <button (click)="scrolltotop()" class="arrowDown"></button>
    <!-- <img src="../../../../Portfolio/src/assets/img/Vector.png" alt=""> -->
    </div>
</div>