<p>main-contact works!</p>

<div class="c">
    <div class="contactMe">

        <h3> {{'main-contact.Contact me' | translate}}</h3>
        <div class="Contact">
            <div class="text">

                <p> {{'main-contact.Please contact me using this form. I look forward to hearing from you, experiencing your concerns and accompanying you in your projects.' | translate}}
                    
                </p>
            </div>
            <div class="mailTel">
                <a href="mailto:andreaswelker@andreaswelker.com">
                &#9993; E-mail: andreaswelker&#64;aol.com</a>
            
                <a href="tel:01716245985">&#9990; Tel: 0171 624 59 85</a>
                

            </div>
        </div>

        <div class="input">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contactForm">
                <div class="nameMail">
                    <div>
                        <label for="name" class="contactName">
                            <h4>{{'main-contact.Your name' | translate}}</h4>
                        </label>
                        <input name="name" [(ngModel)]="contactDate.name" class="name" type="text" required>
                    </div>

                    <div>
                        <label for="mail" class="contactEmail">
                            <h4> {{'main-contact.Your Email' | translate}}</h4>
                        </label>
                        <input name="mail" [(ngModel)]="contactDate.mail" class="mail" type="text" required
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    </div>

                </div>
                <div class="messageInput">
                    <label for="message" class="contactmassage">
                        <h4> {{'main-contact.Your Message' | translate}}</h4>
                    </label>
                    <input name="massage" #message="ngModel" minlength="4" [(ngModel)]="contactDate.massage"
                        class="massage" type="text" required>
                    @if (!message.valid && message.touched && !message.disabled) {
                    <span>{{'main-contact.Please enter a message' | translate}}</span>
                    }
                </div>
            </form>
        </div>

        <div class="privcePolicy">
            <div class="info">
                <img src="../../../assets/img/forPrivacyPolicy.png" alt="">
                <p>{{'main-contact.I have read the privacy policy and agree to the processing of my as otulined.' |
                    translate}}</p>
            </div>
            <div class="sendButton"><button class="send">Send</button>
            </div>

        </div>

    </div>

    <div class="arrow">
        <button (click)="scrolltotop()" class="arrowDown"></button>
        <!-- <img src="../../../../Portfolio/src/assets/img/Vector.png" alt=""> -->
    </div>
</div>