@use "../../../styles.scss" as *;

.daynamic {
  @include layourStylinA();
  flex-direction: column;
  text-align: center;
  width: 100%;
  .layout {
    height: 115px;
    display: flex;
    justify-content: flex-end;
    width: 981px;
    .pro {
      display: flex;
      text-align: left;
      justify-content: start;
      flex-direction: row;
    }
    .projectForText {
      width: 248px;
      height: 97px;
      @include layourStylinA();
      flex-direction: row;
      text-align: center;
      align-items: center;
      &:hover {
        background-image: url(../../../assets/img/Project1BackgroundImage.png);
        background-size: cover;
      }
    }
  }
  .references {
    width: 100%;
    height: 645px;
    @include layourStylinA();
    align-items: center;
    flex-direction: row;
    background-color: #2d383f;
  }
}