.menuBar {
 
    gap: 196px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 104px;
    background-color: #89bcd9;
    position: sticky;
    top: 0;
    font-size: 26px;
  }
  .logoLine {
    width: 58px;
    height: 72px;
  }
  
  .menuSystem {
    width: 677px;
    height: 26px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    p {
      width: 100px;
      &:focus {
        height: 35px;
        background-image: url(../../assets/img/BlackLogo.png);
      }
      a {
        text-decoration: none;
        color: black;
  
        &:hover {
          color: white;
          background-image: url(../../assets/img/Ellipse24.png);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 83px;
          height: 56px;
          // z-index: 10;
        }
      }
    }
  }


  .changeLangugageWeb {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 160px;
    height: 100%;
    > div {
      p {
        margin: 0;
      }
      height: 37px;
      width: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-image: url(../../../../Portfolio/src/assets/img/EllipseForTranslate.png);
        background-size: 100% 100%;
     
      }
    }
  }
  .buttonForTranslateDE {
    color: #262e34;
  }
  
  .buttonForTranslateEN {
    color: white;
  }
  
