<p>main-references works!</p>
<div class="references">
<h4>Need a teamplayer? Here what my colleagues said about me</h4>
<div class="shapecollected">
    <div class="shape">


        <p>Name</p>
        <p>Project</p>
        <p>text</p>
        <a href="www.google.de">asfd</a>

    </div>

    <div class="shape">


        <p>Name</p>
        <p>Project</p>
        <p>text</p>
        <a href="www.google.de">asfd</a>

    </div>

    <div class="shape">


        <p>Name</p>
        <p>Project</p>
        <p>text</p>
        <a href="www.google.de">asfd</a>

    </div>

</div>
</div>