<app-menu-bar></app-menu-bar>
<main>

    <p>imprint works!</p>
    <h1>{{'imprint.imprint' | translate}}</h1>

    <p>Andreas Welker<br />
        Kaplan-Renz-Weg 17<br />

        73479 Ellwangen an der Jagst</p>

    <h2>{{'imprint.contact' | translate}}</h2>
    <p>Telefon: +49 1716245985<br />
        E-Mail: info&#64;andreaswelker.com</p>

    <h2>{{'imprint.Editorial responsible' | translate}}</h2>
    <p>Andreas Welker<br />
        Kaplan-Renz-Weg 17<br />
        73479 Ellwangen</p>

    <p>{{'imprint.source' | translate}} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

</main>