<p>main-skills works!</p>
<h3>{{'main-skills.My Skills' | translate}}</h3>
<div class="skills">
    <div class="icons">
        <img class="icon" src="../.../../../../assets/img/Skillicon/Angular.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/CSS.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/FIREBASE.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/GIT.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/HTML.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/JAvaScript.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/MaterialDesign.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/RESTTAPI.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/SCRUM.png" alt="">
        <img class="icon" src="../.../../../../assets/img/Skillicon/TypeScript.png" alt="">
    </div>

    <div class="currently">
        <div class="subject">

            <div>
                <p> {{'main-skills.I am currently learning' | translate}} </p>
            </div> <br>
            <img class="iconSubject" src="../.../../../../assets/img/Skillicon/FIREBASE.png" alt="">

            <div>
                <p class="skill"> {{'main-skills.Staying motivated to expand my IT skills requires a strategic approach,a curious mindset, and a commitment to lifelong learning' | translate}}</p>
            </div>
        </div>
    </div>
</div>