.skills{
  width: 100%;
  // width: 869px;
  // height: 556px;
  display: flex;
  justify-content: center;
  // flex-direction: row;
  }
  .skill {
    width: 307px;
    height: 105px;
    text-align: center;
  }

.icons {
  gap: 40px 40px;
  width: 450px;
  height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
   
}

.icon{

  width: 76px;
  height: 100px;
display: flex;
flex-direction: row;

}

.currently{
  width: 525px;
  height: 524px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.subject {
  width: 410px;
  height: 385px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-image: url(../../../../../Portfolio/src/assets/img/Ellipse\ BG\ \(1\).png);
  transition:background-image 0.70s ease;
  background-repeat: no-repeat;
  &:hover{
      background-image: url(../../../../../Portfolio/src/assets/img/Ellipse\ BG.png);
      background-repeat: no-repeat;
      
    }
   }

   .iconSubject{
    
    width: 36px;
    height: 54px;
   }
