<p>main-skills works!</p>
<div class="mySkills">
<h3>My Skills</h3>
<div class="icons">
    <img class="icon" src="../.../../../../assets/img/Skillicon/Angular.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/CSS.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/FIREBASE.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/GIT.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/HTML.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/JAvaScript.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/Material Design.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/RESTTAPI.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/SCRUM.png" alt="">
    <img class="icon" src="../.../../../../assets/img/Skillicon/TypeScript.png" alt="">
</div>
<div class="currently"></div>

</div>